:root {
    --bgc: #ebebebd0;
    /*#ebebebd0, #363636d0*/
    --col: #808080;
    /*#808080, white*/
    --bg: white;
    /*white, #160f1d*/
    --abg: white;
    --vh: 0;
    --compact: 1;
}
#input{
    opacity: 0;
    position: absolute;
}
body {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    overflow: hidden;
    overflow-x: hidden!important;
}

input[type="text"] {
    font-family: 'Quicksand', sans-serif;
}
.pickr{
    position: absolute;
}
.main{
    position: absolute;
}
.clickable {
    box-shadow: inset 0 -.5vh rgb(111, 0, 255);
    transition: 0.4s box-shadow cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.clickable:hover{
    box-shadow: inset 0 -3vh rgb(111, 0, 255);
    
}
.settingsS {
    width: fit-content;
    height: 16vw;
    margin: auto;
    color: var(--col);
}

.smallText {
    font-size: 2.6vh;
    display: inline;
    padding-left: 2vw;
}

.smallrText {
    font-size: 1.3vh;
    display: inline;
    padding-left: 2vw;
}

.backIcon {

    font-size: 2vh;
    width: fit-content;
    margin: auto;
    padding-bottom: 2vh;
    transform: translate(-15vw);
}

.tippy-tooltip.delta-theme {
    background-color: var(--col);
    color: var(--bg);
}

.tippy-tooltip.delta-theme[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: var(--col);
}

.tippy-tooltip.delta-theme[data-placement^='right'] .tippy-arrow {
    border-right-color: var(--col);
}

.tippy-tooltip[data-animation='rotate'][data-state='hidden'][data-placement^='bottom'] {
    opacity: 0;
    transform: translate(0, 20%);
}

.tippy-tooltip[data-animation='rotate'][data-state='hidden'][data-placement^='right'] {
    opacity: 0;
    transform: translate(5%, 0);
}

.s-icon, .u-icon, .d-icon {
    position: absolute;
    opacity: .3;
    transition: 0.2s opacity, 0.2s color;
}

.s-icon:hover, .u-icon:hover, .d-icon:hover {
    opacity: .6;
    text-transform: uppercase;

}


.clickable {
    box-shadow: inset 0 -.5vh rgb(111, 0, 255);
    transition: 0.4s box-shadow cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.clickable:hover {
    box-shadow: inset 0 -3vh rgb(111, 0, 255);

}

.settingsS {
    width: fit-content;
    height: 16vw;
    margin: auto;
    color: var(--col);
}

.smallText {
    font-size: 2.6vh;
    display: inline;
    padding-left: 2vw;
}

.smallrText {
    font-size: 1.3vh;
    display: inline;
    padding-left: 2vw;
}

.backIcon {

    font-size: 2vh;
    width: fit-content;
    margin: auto;
    padding-bottom: 2vh;
    transform: translate(-15vw);
}

input[type="text"] {text-transform:uppercase}
.header {
    font-family: 'montserrat', sans-serif;
}

.tippy-tooltip.delta-theme {
    background-color: var(--col);
    color: var(--bg);
}

.tippy-tooltip.delta-theme[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: var(--col);
}

.tippy-tooltip.delta-theme[data-placement^='right'] .tippy-arrow {
    border-right-color: var(--col);
}

.tippy-tooltip[data-animation='rotate'][data-state='hidden'][data-placement^='bottom'] {
    opacity: 0;
    transform: translate(0, 20%);
}

.tippy-tooltip[data-animation='rotate'][data-state='hidden'][data-placement^='right'] {
    opacity: 0;
    transform: translate(5%, 0);
}
@media only screen and (orientation:landscape) {
    .openIcon {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
    .s-icon, .u-icon, .b-icon {
        position: absolute;
        opacity: .3;
        transition: 0.2s opacity, 0.2s color;
    }

    .s-icon:hover, .u-icon:hover, .b-icon:hover {
        opacity: .6;

    }

    .s-icon {
        font-size: max(2vw, 24px);
        position: absolute;
        top: max(9.5vw, 102px);
        right: max(1vh, 7px);
    }
    .u-icon {
        transform: rotate(-90deg);
        font-size: max(2vw, 24px);
        position: absolute;
        top: max(5vw, 50px);
        left: max(1.5vh, 12px);
    }
    .d-icon {
        transform: rotate(-90deg);
        font-size: max(2vw, 24px);
        position: absolute;
        top: max(5vw, 50px);
        right: max(1vh, 7px);
    }

    .swatch {
        position: relative;
        width: 12.5vw;
        height: 12.5vw;
        min-width: 140px;
        min-height: 140px;
        transition: 0.4s background;
    }
    #tex1{
        border-radius: .8vw calc((var(--compact)) * .8vw) calc((var(--compact)) * .8vw) .8vw;
        width: calc(((1 - var(--compact)) * 11.875vw) + ((var(--compact)) * 11.25vw));
        margin:0vw 0vw .5vw .5vw;
        min-width: calc(((1 - var(--compact)) * 131px) + ((var(--compact)) * 128px));
    }
    #tex2, #tex3, #tex4{
        border-radius: calc((var(--compact)) * .8vw);
        width: calc(((1 - var(--compact)) * 12.5vw) + ((var(--compact)) * 11.25vw));
        margin:0vw 0vw .5vw calc(((1 - var(--compact)) * 0vw) + ((var(--compact)) * 0.5vw));
        min-width: calc(((1 - var(--compact)) * 140px) + ((var(--compact)) * 128px));
    }
    #tex5{
        border-radius: calc((var(--compact)) * .8vw) .8vw .8vw calc((var(--compact)) * .8vw);
        width: calc(((1 - var(--compact)) * 11.875vw) + ((var(--compact)) * 11.25vw));
        margin:0 0 .5vw calc(((1 - var(--compact)) * 0vw) + ((var(--compact)) * 0.5vw));
        min-width: calc(((1 - var(--compact)) * 131px) + ((var(--compact)) * 128px));
    }
    input[type="text"] {
        display: block;
        background: var(--bgc);
        color: var(--col);
        border: none;
        padding-top: 1vw;
        padding-bottom: 1vw;
        text-align: center;
        outline: none;
        font-size: max(1vh, 20px);
    }

    
    input[type="text"]:focus {
        border: none;
        outline: none;
    }
/*?*/
    .col-picker-wrapper {
        position: relative;
        display: inline-block;
        width: 12.5vw;
        padding: 0;
        margin: calc(var(--compact) * 0.6vw);
        margin-bottom:0 !important;
        padding-bottom:0 !important;
        min-width: 140px;
        border-radius: calc(var(--compact) * 1.2vw);
        transition: background 0.4s;
        overflow: hidden;
    }
    .colors{
        border-radius: calc((1 - var(--compact)) * 1.2vw);
        overflow: hidden;
        height:fit-content;
        font-size: 0;
    }
    .hovfx:hover {
        transform: translateY(calc(var(--compact) * -.5vh));
        box-shadow: 0px 3vh 2vw rgba(0, 0, 0, 0.048);
    }

    .hovfx {
        transition: background 0.4s,
            0.4s transform cubic-bezier(0.175, 0.885, 0.32, 1.275),
            0.4s box-shadow,
            0.4s color;
    }

    .colors,
    .settings {
        width: fit-content;
        margin: 0 auto;
    }

    .settings {
        margin-top: 3vh;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
    }

    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
    }

    .inline {
        display: inline-block;
    }

    body {
        background: var(--bg);
        color: var(--col);
    }

    .pos-down {
        position: relative;
        transform: translateY(.4vh);
    }
/*?*/
    i {
        font-size: max(2vw, 30px);
        transition: 0.2s transform;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;

    }

    i:hover {
        transform: translateY(-.4vh);
    }

    i:active {
        transform: translateY(.4vh);
    }

    .icon {
        width: 3vw;
        min-width: 50px;
        text-align: center;
        display: inline-block;
    }

    .group {
        width: 30vw;
        min-width:200px;
        height: 8vw;
        min-height:60px;
        border-radius: 1vw;
        position: relative;
        margin: .5vw 1vw;
        overflow: hidden;
        display: inline-block;
        transition: background 0.4s,
            0.4s transform cubic-bezier(0.175, 0.885, 0.32, 1.275),
            0.4s box-shadow,
            0.4s color;

    }

    .group:hover {
        transform: translateY(-.5vh);

    }

    .groupNS {
        width: 30vw;
        min-width:200px;
        height: 8vw;
        min-height:60px;
        border-radius: 1vw;
        margin: .5vw 1vw;
        overflow: hidden;
        display: inline-block;
        color: var(--col);
        text-align: center;

    }

    .plus {
        transform: translate(0vw, 1.6vw);
    }

    .plus:hover {
        transform: translate(0vw, 1.2vw);
        text-shadow: 0px 2vw 5vw rgba(0, 0, 0, 0.274);
    }

    .color {
        width: 6vw;
        min-width:40px;
        height: 8vw;
        min-height:60px;
        display: inline-block;
        padding: 0;
        margin: 0;
        float: left;
        top: 0;
        transition: 0.4s background;
    }

    .palettes {
        width: 66vw;
        margin: auto;
    }

    a {
        float: left;
    }

    .delete {
        font-size: max(2vw, 24px);
        position: absolute;
        right:0.5vw;
        top:0.5vw;
        color: #ffffff;
        opacity: 38%;
        transition: 0.2s transform, 0.2s opacity;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .delete:hover {
        position: absolute;
        transform: translateY(-.1vw);
        color: #ffffff;
        opacity: 65%;
    }

    .settingsP {
        position: absolute;
        width: 10vw;
        height: 16vw;
        border-radius: 1vw;
        color: var(--col);
        transition: top 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .settIcon {
        height: 3vw;
        min-height: 50px;
        width: 10vw;
        transform: translate(6vw, 0vw);
    }

    .settIcon i:hover {
        transform: translate(0vw, -.2vw);
    }

    .settIcon i:active {
        transform: translate(0vw, .2vw);
    }

    .header {
        font-size: max(4vw, 50px);
        margin: auto;
        width: 30vw;
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

}
@media only screen and (orientation:portrait) {
    .fa-sort-up{
        right:0;
        top:0;
    }
    .s-icon {
        position: absolute;
        font-size: max(2vw, 24px);
        bottom: max(.5vh, 4px);
        left: max(13vw, 150px);
        opacity: .3;
        transition: 0.2s opacity, 0.2s color;
        z-index: 100;
    }
    .u-icon {
        position: absolute;
        font-size: max(3vw, 32px);
        top: max(1vh, 10px);
        left: max(1vw, 5px);
        opacity: .3;
        transition: 0.2s opacity, 0.2s color;
        z-index: 100;
    }
    .d-icon {
        position: absolute;
        font-size: max(3vw, 32px);
        bottom: max(4.5vh, 40px);
        left: max(1vw, 5px);
        opacity: .3;
        transition: 0.2s opacity, 0.2s color;
        z-index: 100;
    }

    .s-icon:hover, .u-icon:hover, .b-icon:hover {
        opacity: .6;

    }

    .swatch {
        position: relative;
        width: 100vw;
        height: 100%;
        min-width: 140px;
        min-height: 40px;
        transition: 0.4s background, 0.4s height;
    }

    #tex1,#tex2,#tex3,#tex4,#tex5 {
        position:absolute;bottom: 0;
        width: 12.5vw;
        min-width: 140px;
        background: var(--bgc);
        color: var(--col);
        border: none;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 0px max(.5vw, 5px) 0px 0px;
        text-align: center;
        outline: none;
        font-size: max(1vh, 20px);
    }

    #tex1,#tex2,#tex3,#tex4,#tex5:focus {
        border: none;
        outline: none;
    }

    .col-picker-wrapper {
        position: relative;
        display: flex;
        height: 20%;
        width: 100vw;
        min-width: 140px;
        transition: background 0.4s, 0.4s height;
        overflow: hidden;
        margin:0;
    }

    .colors{
        height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        width: fit-content;
        margin: auto;
    }
    .settings{
        position: absolute;
        right:0;
        top:0;
        height: 100vh;
        background: var(--bg);
        width: 4.75vw;
        min-width: 67px;
        font-size: max(2.5vw, 27px);
        transition:transform 0.2s;
        transition-timing-function: ease-in-out;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
    }


    .main {height: 100vh;overflow-x: hidden;
    }

    .inline {
        display: inline-block;
    }

    body {
        background: var(--bg);
        color: var(--col);
        overflow: hidden;
        overflow-x: hidden;
    }

    .pos-down {
        position: relative;
        transform: translateY(.4vh);
    }

    i {
        font-size: max(2.5vw, 30px);
        transition: 0.2s transform;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;

    }

    i:hover {
        transform: translateY(-.4vh);
    }

    i:active {
        transform: translateY(.4vh);
    }

    .icon {
        width: 4.75vw;
        min-width: 67px;
        text-align: center;
        display: inline-block;
        margin-top: max(1.75vh, 30px);
    }
    .openIcon {
        top:40%;
        background:var(--bg);
        right:max(7vw,85px);
        position: absolute;
        padding:1.5vh 2vh;
        border-radius: 1.25vw;
        text-align: center;
        display: inline-block;
        margin-top: max(2vh, 40px);
        cursor: pointer;
        opacity:30%;
        transition:transform 0.4s,opacity 0.3s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .openIcon:hover{
        opacity:100%;
        transform:translateX(-0.4vh)
    }
    .openIcon i{
        transition:transform 0.4s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .openIcon:hover i{
        transform:translateY(0)
    }
    .rotate180{
        transform:rotate(180deg)
    }
    .group {
        position: relative;
        width: 65vw;
        height: 16vw;
        border-radius:2vw;
        margin: .5vw 1vw;
        overflow: hidden;
        display: inline-block;
        transition: background 0.4s,
            0.4s transform cubic-bezier(0.175, 0.885, 0.32, 1.275),
            0.4s box-shadow,
            0.4s color;

    }

    .group:hover {
        transform: translateY(-.5vh);

    }

    .groupNS {
        width: 65vw;
        height: 16vw;
        border-radius: 1vw;
        margin: .5vw 1vw;
        overflow: hidden;
        display: inline-block;
        color: var(--col);
        text-align: center;

    }

    .plus {
        transform: translate(0vw, 1.6vw);
    }

    .plus:hover {
        transform: translate(0vw, 1.2vw);
        text-shadow: 0px 2vw 5vw rgba(0, 0, 0, 0.274);
    }

    .color {
        width: 13vw;
        height: 16vw;
        display: inline-block;
        padding: 0;
        margin: 0;
        float: left;
        top: 0;
        transition: 0.4s background;
    }

    .palettes {
        width: 66vw;
        margin: auto;
    }

    a {
        float: left;
    }

    .delete {
        position: absolute;
        font-size: max(2vw, 24px);
        right:2vw;
        top:2vw;
        color: #ffffff;
        opacity: 38%;
        transition: 0.2s transform, 0.2s opacity;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .delete:hover {
        position: absolute;
        transform: translateY(-.2vw);
        color: #ffffff;
        opacity: 65%;
    }

    .settingsP {
        position: absolute;
        width: 10vw;
        height: 16vw;
        border-radius: 1vw;
        color: var(--col);
        transition: top 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .settIcon {
        height: 3vw;
        min-height: 50px;
        width: 10vw;
        transform: translate(6vw, 0vw);
    }

    .settIcon i:hover {
        transform: translate(0vw, -.2vw);
    }

    .settIcon i:active {
        transform: translate(0vw, .2vw);
    }

    .header {
        font-size: max(4vw, 50px);
        margin: auto;
        width: 70vw;
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    #compParent{
        position: absolute;
        visibility: hidden;
        pointer-events: none;
    }
}




.extras-wrap {
    margin: auto;
    width: fit-content;
    background-color: var(--abg);
    transition: 0.4s opacity cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.4s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 1vw;
    overflow: hidden;
    opacity: 0%;
    transform: translateY(-5%);
    cursor: pointer;
}

.extras-wrap-in {
    animation: extras-height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 100%;
    transform: translateY(0%);
    margin-top: 2vh;
    padding: 1vw;
}

@keyframes export-height-in {
    0% {
        height: 0vw
    }

    100% {
        height: 13.5vh;
    }
}

@keyframes export-height-out {
    0% {
        height: 13.5vh;
    }

    100% {
        height: 0vh;
    }
}

.export-wrap {
    height: 13.5vh;
}

.export-wrap-in {
    animation: export-height-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.export-wrap-out {
    animation: export-height-out 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.export-element {
    color: var(--bg);
    transition: 0.2s;
    width: 3vw;
    height: 8vh;
    display: inline-block;
    text-align: center;
    padding: 2vh;
    border: 0.1vw solid var(--bg);
    border-radius: .5vh;
    opacity: .5;
    margin: .3vw;
}

.export-element i {
    font-size: 5vh;
    transform: translateY(-1.25vh);
}

.export-element h1 {
    font-size: 3vh;
    transform: translateY(-1.5vh);
}

.export-element:hover {
    background-color: #a3a3a396
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 0.5;
        transform: scale(100%, 100%);
    }
}

.fadeIn-0s {
    animation: fadeIn .2s ease 0s;
}

.fadeIn-01s {
    animation: fadeIn 0.2s ease 30ms;
}

.fadeIn-02s {
    animation: fadeIn 0.2s ease 60ms;
}

.fadeIn-03s {
    animation: fadeIn 0.2s ease 90ms;
}

.negPoint4vh {
    transform: translateY(-0.4vh);
}

.downIcon {
    position: absolute;
    font-size: 2vh;
    opacity: 0;
    transform: translate(-1.1vw, 2.6vh);
}

.downIcon-vis {
    opacity: 1;
    transform: translate(-1.1vw, 3vh);
}

.downIcon:hover {
    transform: translate(-1.1vw, 3vh);
}

.fa-sync-alt:hover {
    transition: 0.1s;
}